<h1>質問一覧</h1>
<ul>
    <% @questions.each do |question| %>
    <li>
        <%= link_to question.title, question_path(question.id) %> | <%= question.content %> |
        by <% user = User.find(question.user.id) %><%= link_to question.user.name, user %>さん
    </li>
    <% end %>
</ul>